        <!-- reportes -->
            <div class="col-10 reportes">
                <div class="row">
                    <div class="col-2 text-left">
                        <p>Reporte N [NUM_INDEX_REG]:</p>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4"><strong>
                                <p>Inicio recoleccion</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[NOMBRE_GEOCERCA]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Dia</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[DIA_ALERTA_PASO_POR_GEOCERCA]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Hora partida</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[HORA_ALERTA_PASO_POR_GEOCERCA]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Ruta</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[NOMBRE_RUTA]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Chofer</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[NOMBRE_CHOFER]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Camion</p>
                            </strong></div>
                            <div class="col-8">
                                <p>[NOMBRE_CAMION] - [PATENTE_CAMION]</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Sistema reporte</p>
                            </strong></div>
                            <div class="col-8">
                                <p>Mail; sms; wpp</p>
                            </div>

                            <div class="col-4"><strong>
                                <p>Usuario acceso</p>
                            </strong></div>
                            <div class="col-8">
                                <p>MUnicipio ciudadanos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <img src="[URL_MAPA]" alt="">
                        <button type="button" class="ampliar-btn btn" data-toggle="modal" data-target="#bigImg" onclick="AsignarImgAmpliada('[URL_MAPA]');">Ampliar</button>
                    </div>
                </div>
                <!-- col-10 -->

                <!-- col-1 -->
                <div class="col-1"></div>
            </div>
            <!-- reportes -->
