<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
	<pages controlRenderingCompatibilityVersion="4.0"/>												   
  </system.web>
  <appSettings>
  <!--<add key="dbserver" value=".\SQLEXPRESS"/>
    <add key="dbcatalog" value="REM_MFP"/>-->
    <!--<add key="dbcatalog" value="MCMGIAHost_1"/>-->
    <!--<add key="dbuser" value="rem"/>
    <add key="dbpassword" value="rem"/>-->
    <!--<add key="dbuser" value="Alan"/>
    <add key="dbpassword" value="Alan123"/>-->
    
    <add key="trusted" value="true"/>
    <add key="CommandTimeoutExecuteBD" value="600"/>
    <add key="K" value="*ics.cl.development*2012*"/>
    <add key="MinutesSession" value="60"/>
    <add key="TiempoSesionUsr" value="20"/>
    <!--<add key="StriConnAux" value="Data Source=.\SQLEXPRESS;Initial Catalog=REM2;Integrated Security=SSPI;MultipleActiveResultSets=true;"/>-->
    <add key="StriConnAux" value="Data Source=.\SQLEXPRESS;Initial Catalog=REM_MFP;Integrated Security=SSPI;MultipleActiveResultSets=true;"/>
    
	<add key="fleetup_acctId" value="21563"/>
    <add key="fleetup_secret" value="ibi2d5eqabmbxptutvnt803ba54f1u77"/>
    <add key="fleetup_api_key" value="u6KbPUKA2w1mzUvg0b2cn5A37wsg8Ecn8iKKGQhL"/>	
  <add key="Ejecutar_Carga_Fleetup" value="FALSE"/>
    <add key="HostAddress" value="smtp.myresiduo.cl"/>
    <add key="CuentaOrigen" value="residuos@myresiduo.cl"/>
    <add key="ClaveCorreo" value="MyResiduo123$"/>
    <add key="Param1" value="SMTP"/>
    <add key="Param2" value="SMTP"/>
    <add key="NUMERO_FONO_PARA_LLAMAR_CIUDADANO" value="993299292"/>
	<add key="WIALON_ID_TEMPLATE_INFORME" value="1"/>												 
  </appSettings>
</configuration>